.movie-item-wrapper {
    background-image: linear-gradient(120deg, #DBA506, #f0c850 90%);
    color: #000;
    font-weight: bold;
    margin: 20px 20px;
    list-style: none;
    height: 440px;
    width: 250px;
    transition: all 0.2s ease;
    position: relative;
    
    
    
    .movie-img {
        height: 70%;
        width: 100%;
    }
    
    .bottom-wrapper {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }
    .homeview-btn-wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 7px;

        .btn-add,
        .btn-trailer,
        .btn-delete,
        .btn-disable {
            font-weight: bold;
            font-size: 12px;
            padding: 0px 10px;
            width: 80px;
            height: 30px;
            border-radius: 5px;
            background-color: #000;
            border: 3px #000 solid;
            border: none;
            color: #fff;
            cursor: pointer;
            margin-top: 3px;

        }
        .btn-disable {
            background-color: #777;
            border: 3px #000 solid;
            transition: all 0.4s ease;
            cursor:not-allowed;
        }
        .btn-add,
        .btn-trailer {
            background-color: #000;
            border: 3px #000 solid;
        }
        .btn-delete {
            background-color: rgb(135, 21, 21);
            border: 3px rgb(135, 21, 21) solid;
        }
        .btn-add {
            margin-right: 30px;

        }

    }
}

@media (max-width: 375px) {
    .movie-item-wrapper {
        height: 260px;
        width: 150px;

        .bottom-wrapper {
            padding: 5px 10px;

            .homeview-btn-wrapper {

                .btn-add,
                .btn-trailer,
                .btn-disable {
                    font-size: 9px;
                    padding: 0px 8px;
                    height: 15px;
                    width: 50px;
                    margin-top: 2px;
                    border: 2px #000 solid
                }

                .btn-delete {
                    font-size: 9px;
                    padding: 0px 8px;
                    height: 22px;
                }
            }
        }
    }
}