@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  background: url('./img//background.png') fixed ;
  color: #000;
}

.App {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .app {
    height: 200vh;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: url('./img//dark-background.jpg') fixed ;

  }
}