@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  background-color: rgba(29, 39, 53, 0.185);
  color: #000;
}

.App {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .app {
    height: 200vh;
  }
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color: #eee;
//     background: #121212;
//   }
// }